@import "reset.css";
* {
    font-family: "Kufam", cursive;
    box-sizing: border-box;
}

html, bbody {
    margin: 0;
    padding: 0;
    color: rgb(83, 81, 81);
}

.awlogo {
    height: 7rem;
    margin-top: 0;
    padding-top: 0;
}

.nav {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    // justify-content: space-between;
    width: 100%;
    height: 7rem;
}

.navlinkwrap{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

a.navlink {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*section with plant background */
.header {
    background: url(../img/frond-1869757_1280.png) center/cover;
    height: 60vh;
    text-align: center;
    margin-top: 10vh;
    padding-top: 5rem;
    color: white;
}

.headerlink {
    color: rgb(132, 192, 132);
    border-bottom: 4px solid white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
}

/* text below plat image*/
.description {
    text-align: center;
}

/* section four Ds*/
.fourd {
    background-color: rgb(49, 48, 48);
    padding-top: 3rem 15% 2rem 15%;
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
}







